<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spotfire.Dxp.Data" publicKeyToken="789861576bd64dc5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-32.0.11802.4673" newVersion="32.0.11802.4673" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spotfire.Dxp.Application" publicKeyToken="789861576bd64dc5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-32.0.11802.4673" newVersion="32.0.11802.4673" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spotfire.Dxp.Framework" publicKeyToken="789861576bd64dc5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-32.0.11802.4673" newVersion="32.0.11802.4673" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
